/* universal */
* {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: auto;
}
/* navbar font style  */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

.inter-tight-font {
  font-family: "Inter Tight", sans-serif;
  font-weight: bold;
  font-style: normal;
}
/* ** website font style ** */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font-styles {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* **shared styles** */
.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* primary color  */
.color-black {
  color: #000000;
}
.color-og {
  color: #e95a08;
}
.color-2 {
  color: #8987a1;
}
/* nav color */
.nv-color-1 {
  /* color: #252432; */
  color: rgba(37, 36, 50, 1);
}

.nav-color-3 {
  color: #000000;
}
/* nav font */
.nav-font {
  font-weight: bold;
  font-size: 1rem;
}
.nav-font-1 {
  font-weight: 400px;
  font-size: 0.8rem;
}
/* **navbar style** */
.nav-link a {
  margin-right: 45px;
  text-decoration: none;
}
.nav-link a:last-child {
  margin-right: 0;
}
/* web-main-style */
.fonts {
  font-weight: bold;
  font-size: 4rem;
}
.banner {
  gap: 150px;
}
.banner-content-color {
  /* color: rgba(0, 0, 0, 0.5); */
  color: rgba(0, 0, 0, 0.5);
}
.banner-content {
  font-weight: 400;
  font-size: 1.2rem;
}
/* **card-styles** */
.card-heading {
  text-align: center;
}
.card-heading-description {
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 200px;
  margin-right: 200px;
}
/* cards section  */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 66px;
}

.card-child {
  width: 270px;
  height: 132px;
  color: #111111;
  text-align: center;
  margin-top: 30px;
}
.btn-primary {
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: 1rem;
}
/* trusted plant lover badge */
.badge-image {
  width: 400px;
  height: 400px;
}
.image-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.main-image {
  width: 100%;
  height: auto;
  display: block;
}
.badge-image {
  position: absolute;
  top: -180px;
  right: -150px;
  height: auto;
}
.trusted-badge-container {
  display: flex;
  gap: 200px;
  margin-top: 200px;
}
/* latest deal  */
.heading-title {
  font-weight: bold;
  font-size: 3.2rem;
}
.title-description {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1.5rem;
}
.title-description li {
  margin-top: 15px;
}

.latest-deal-heading {
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 5px;
}
.latest-deal-description {
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}
.latest-deal {
  text-align: center;
  margin-left: 276px;
  margin-right: 276px;
  margin-top: 50px;
}
/* latest deals image */
.section-image-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.latest-deal-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 50px;
}
/* .latest-deal-section a {
  text-decoration: underline;
} */
.img-1 {
  background-image: url(./assets/deal-bloom.png);
  background-repeat: no-repeat;
  width: 367px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  color: #ffffff;
}

.heading-font {
  font-weight: bold;
  font-size: 1.5rem;
}
.img-2 {
  background-image: url(./assets/deal-ana.png);
  background-repeat: no-repeat;
  width: 367px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  color: #ffffff;
}
.image-font {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
}
.img-3 {
  background-image: url(./assets/deal-zabo.png);
  background-repeat: no-repeat;
  width: 753px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 22px;
}
.img-font {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
}
/* join section  */
.join-section {
  background-image: url(./assets/news-letter-bg.png);
  height: 533px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding: 200px;
}
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 15px;
}

.form input {
  width: 644px;
  height: 50px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.join-button {
  width: 186px;
  height: 50px;
  color: #ffffff;
  background-color: #e95a08;
  border: none;
  font-weight: 600;
  font-size: 1rem;
}
/* footer section  */
.footer-style {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-top: 10px;
}
.footer-links {
  display: flex;
  gap: 100px;
}
.footer-links a {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-decoration: none;
  color: #6b7280;
}
.title-descriptions {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.footer-icon img {
  margin-right: 20px;
}
